@charset "UTF-8";

/* ========== CONFIGURAÇÕES BÁSICAS ==========*/

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
}

/* ========== TIPOGRAFIA ==========*/

h1 {
    margin: 3.2rem 0;
    color: #282828;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
}

h2 {
    margin: 5rem 0;
    color: #5E5E5E;
    font-size: 1.8rem;
    font-weight: 400;
    border-bottom: 1px solid #DADDE175;
}

h3 {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 1px;
}

@media (max-width: 500px) {
    h1 {
        margin: 1.6rem 0 3.2rem 0;
        font-size: 1.9rem;
    }

    h2 {
        margin: 3.2rem 0 5rem 0;
        font-size: 1.6rem;
    }
}

/* ========== HEADER ==========*/

header {
    background-color: #128C7E;
}

header > div > div {
    max-width: 720px;
    margin: 0 auto;
    padding: 1rem 0;
}

/* ========== MAIN ==========*/

main > div > div {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 4rem;
}

img.perfil-wpp {
    margin-top: 5rem;
    border-radius: 50%;
    border: 1px solid #DADDE1;
}

a.btn {
    margin: 0 auto 3.2rem auto;
    padding: 1.6rem 3.2rem;
    font-size: 1.6rem;
    color: #FFFFFF;
    background-color: #128C7E;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
}

@media (max-width: 500px) {
    img.perfil-wpp {
        max-width: 120px;
        font-size: 1.9rem;
    }

    a.btn {
        margin-bottom: 0;
    }
}

/* ========== FOOTER ==========*/

footer {
    width: 100%;
    position: absolute;
    color: #FFFFFF;
    background-color: #273443;
}

footer > div > div {
    max-width: 720px;
    margin: 0 auto;
    padding: 2rem 4rem;
    text-align: center;
}

footer > div > div > div {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 500px) {
    footer > div > div > div {
        justify-content: space-between;
    }
}

footer > div > div > div a {
    display: block;
    margin-bottom: 1.6rem;
    color: #FFFFFF;
    text-decoration: none;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 400;
}

footer div.copyright {
    max-width: 100vw !important;
    background-color: #111B21;
}

footer div.copyright p {
    font-size: 1.4rem;
}